{{#journeys}}
    <li class="journey-route" data-order="{{order}}">
        <section>
            <span>Start time</span>
            <span>{{startTime}}</span>
        </section>

        <section>
            <span>Origin</span>
            <span>{{originStation}}</span>
        </section>

        <section>
            <span>Destination</span>
            <span>{{destinationStation}}</span>
        </section>

        <section>
            <span>End Time</span>
            <span>{{arrivalTime}}</span>
        </section>
    </li>
{{/journeys}}